body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.main-nav {
  height: 90px;
  margin-top: -4rem;
  /* position: sticky;
  top: 0;
  z-index: 1; */
}

.logo {
  color: white;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: 'AstroSpace', sans-serif;
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
  margin-right: 2.2rem;
}
.navlinks li {
  display: inline-block;
  margin: 0px 20px;
  font-weight: 650;
}

.navlinks li a {
  color: #222;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.2s linear 0s;
  text-transform: uppercase;
}

.navlinks li a:hover {
  color: #fff;
  padding-bottom: 7px;
  /* border-bottom: 2px solid #7ebcb9; */
  text-decoration: none;
}

li a.contact {
  background-color: #00adb5;
  padding: 9px 20px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  border-bottom: none;
}

li a.contact:hover {
  background-color: #047e85;
  color: white;
  border-bottom: none;
}

#check {
  display: none;
}

.menu-btn {
  font-size: 25px;
  color: white;
  float: right;
  line-height: 90px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

@media (max-width: 300px) {
  .navlinks {
    position: fixed;
    width: 100%;
    height: 10vh;
    right: -100%;
    background: #222831;
  }

  .navlinks li {
    display: block;
  }

  .navlinks li a {
    font-size: 20px;
  }

  .navlinks li a:hover {
    border-bottom: none;
  }

  .menu-btn {
    display: block;
  }

  #check:checked ~ .navlinks {
    right: 0;
  }
}

@media (max-width: 360px) {
  .logo {
    margin-left: 10px;
    font-size: 25px;
  }

  .menu-btn {
    margin-right: 10px;
    font-size: 25px;
  }

  .menu-btn:focus {
    color: blue;
  }
}

.uperuper {
  margin-top: -9rem;
}

.uperuper1 {
  margin-top: -1rem;
}

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.radio_radio {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #d8e4e2;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 2px;
}

.radio_radio:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: #009879;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;
}

.radio__input:checked + .radio_radio:after {
  transform: scale(1);
}
